<a href="https://colab.research.google.com/github/Hawukelwa/Hawukelwa_Phungwayo/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# List files in the content folder
import os
os.listdir("/content")

['.config',
 '20251208 HigherHealth_Stage2 (1500) 1017_20251210.xlsx',
 'sample_data']

In [2]:
df = pd.read_excel(
    "/content/20251208 HigherHealth_Stage2 (1500) 1017_20251210.xlsx",
    sheet_name="3 - Learner Data & Achievement"
)

df.head()

,SDP Accreditation Number,National ID,LearnerAlternateID,AlternateIDType,LearnerLastName,LearnerFirstName,LearnerMiddleName,LearnerTitle,LearnerBirthDate,EquityCode,...,FISA_PART_1_SCORE,FISA_PART_2_SCORE,FISA_PART_3_SCORE,RANDOMIZED_FISA_PART_1_SCORE,RANDOMIZED_FISA_PART_2_SCORE,RANDOMIZED_FISA_PART_3_SCORE,FISA_PERCENTAGE,RANDOMIZED_FISA_PERCENTAGE,FISA_STATUS,Exists in?
0,07-QCTO/SDP280224063140,0001021018088,NaN,533,Moseme,Relebohile,NaN,Miss,20000102,BA,...,74.0000,63.0001,81.0,0.0,0.0,0.0,87.2,0.0,Passed,20250725HigherHealth_Stage1(1500) LEARNER ENRO...
1,07-QCTO/SDP280224063140,0001021237084,NaN,533,Xaba,Minenhle,Noluthando,Miss,20001021,BA,...,74.0000,47.9994,76.0,0.0,0.0,0.0,79.2,0.0,Passed,20250725HigherHealth_Stage1(1500) LEARNER ENRO...
2,07-QCTO/SDP280224063140,0001055394082,NaN,533,Mabena,Junior,Gontse,Mr,20000105,BA,...,70.0016,61.0006,91.0,0.0,0.0,0.0,88.8,0.0,Passed,20250725HigherHealth_Stage1(1500) LEARNER ENRO...
3,07-QCTO/SDP280224063140,0001070655087,NaN,533,Dlamini,Puleng,Clementinah,Miss,20000107,BA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20250725HigherHealth_Stage1(1500) LEARNER ENRO...
4,07-QCTO/SDP280224063140,0001090952084,NaN,533,Mathwebula,Slungile,NaN,Miss,20000109,BA,...,66.0000,52.0015,74.0,0.0,0.0,0.0,76.8,0.0,Passed,20250725HigherHealth_Stage1(1500) LEARNER ENRO...

In [3]:
df.columns

Index(['SDP Accreditation Number', 'National ID', 'LearnerAlternateID',
       'AlternateIDType', 'LearnerLastName', 'LearnerFirstName',
       'LearnerMiddleName', 'LearnerTitle', 'LearnerBirthDate', 'EquityCode',
       'NationalityCode', 'HomeLanguageCode', 'GenderCode',
       'CitizenStatusCode', 'SocioeconomicCode', 'DisabilityCode',
       'DisabilityRating', 'ImmigrantStatus', 'HomeAddress1', 'HomeAddress2',
       'HomeAddress3', 'PostalAddress1', 'PostalAddress2', 'PostalAddress3',
       'LearnerHomeAddressPostalCode', 'LearnerHomeAddressPhysicalCode',
       'LearnerPhoneNumber', 'LearnerCellPhoneNumber', 'LearnerFaxNumber',
       'LearnerEmailAddress', 'ProvinceCode', 'STATSSAAreaCode',
       'POPIActAgree', 'POPIActDate', 'SkillsProgramme ID', 'EmploymentStatus',
       'LearnerEnrolledDate', 'DATE OF FISA', 'FINAL FISA RESULT_1',
       'FINAL FISA RESULT_2', 'FINAL FISA RESULT_3',
       'FINAL FISA RESULT AVERAGED', 'Date Submitted to QCTO',
       'FISA_COMPLETION_DATE', 'FISA_PART_1_SCORE', 'FISA_PART_2_SCORE',
       'FISA_PART_3_SCORE', 'RANDOMIZED_FISA_PART_1_SCORE',
       'RANDOMIZED_FISA_PART_2_SCORE', 'RANDOMIZED_FISA_PART_3_SCORE',
       'FISA_PERCENTAGE', 'RANDOMIZED_FISA_PERCENTAGE', 'FISA_STATUS',
       'Exists in?'],
      dtype='object')

In [4]:
df["National ID"] = df["National ID"].astype(str)

df["National ID"].head()

0    0001021018088
1    0001021237084
2    0001055394082
3    0001070655087
4    0001090952084
Name: National ID, dtype: object

In [15]:
import string
import random

def generate_certificate(id_number, sequence, year_prefix="25"):
    id_number = str(id_number)

    if len(id_number) < 6:
        return None

    # First 6 digits of ID
    first_6_digits = id_number[:6]

    # Deterministic random letter based on ID
    random.seed(id_number)
    random_letter = random.choice(string.ascii_uppercase)

    # Sequence starting from 06001
    sequence_number = 6000 + sequence
    sequence_str = str(sequence_number).zfill(5)

    return f"{year_prefix}{first_6_digits}{random_letter}{sequence_str}"

In [16]:
df = df.reset_index(drop=True)

df["SEQUENCE_INDEX"] = df.index + 1

df["QCTO_CERT_NUMBER"] = df.apply(
    lambda row: generate_certificate(
        row["National ID"],
        row["SEQUENCE_INDEX"]
    ),
    axis=1
)

In [17]:
df[[
    "LearnerFirstName",
    "LearnerLastName",
    "National ID",
    "QCTO_CERT_NUMBER"
]].head(5)

  LearnerFirstName LearnerLastName    National ID QCTO_CERT_NUMBER
0       Relebohile          Moseme  0001021018088   25000102F06001
1         Minenhle            Xaba  0001021237084   25000102N06002
2           Junior          Mabena  0001055394082   25000105A06003
3           Puleng         Dlamini  0001070655087   25000107V06004
4         Slungile      Mathwebula  0001090952084   25000109M06005

In [18]:
output_file = "/content/QCTO_Certificate_List.xlsx"

df.to_excel(output_file, index=False)

output_file

'/content/QCTO_Certificate_List.xlsx'